<h1> Welcome to Secret Santa! </h1>
<h2>Please Enter your details</h2>
<body style="background-color:red;">
      <font size="3" color="white">
<form action="/name" method="post">
  <!-- <input type="text" name="text"/>
  <input type="submit" value="Submit" /> -->
    <label>
      Name:-
    <input type="text" name="participant_1_name">
    </label>
    <label>
      Email:-
    <input type="text" name="participant_1_email">
    </label>
    <input type="submit" value="Submit">
  </form>
<a href="/Participants">See your pair</a>
